[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
crispy-tailwind = "*"
django-allauth = "*"
django-vite = "*"
django-template-partials = "*"
django-environ = "*"
psycopg = {extras = ["binary"], version = "*"}
stripe = "*"
django-guardian = "*"

[dev-packages]
ipython = "*"
django-browser-reload = "*"

[requires]
python_version = "3.11"
