[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
crispy-tailwind = "*"

[dev-packages]
ipython = "*"
django-browser-reload = "*"

[requires]
python_version = "3.11"
